.header {
  text-align: center;
  font-family: "shirkand" sans-serif;
  height: 20px;
  padding: 10px 0px 20px 0px;
}

.header_resto {
  display: flex;
  flex-direction: rows;
  position: relative;
  height: 60px;
  align-items: center;
}
.header_resto img {
  position: absolute;
  top: 24%;
  right: 6%;
  width: 90%;
  height: 30px;
}
.header_resto i {
  color: black;
  position: absolute;
  top: 35%;
  left: 6%;
  width: 40px;
  height: 30px;
}

footer {
  display: flex;
  background-color: #353535;
  color: white;
  padding-left: 45px;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  footer {
    padding-left: 120px;
  }
}
footer h1 {
  font-family: "Shrikhand", sans-serif;
}
footer ul {
  list-style: none;
  margin: 0px 0px 20px -35px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul i {
  padding-right: 15px;
  width: 10px;
  height: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #f3f3f3;
}
.explore__text1 {
  font-weight: 700;
  font-size: 1.3rem;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.explore__text2 {
  font-weight: 200;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.explore__btn {
  text-align: center;
  margin: 20px 0px 40px 0px;
  border-radius: 25px;
  padding: 18px 24px 18px 24px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  box-shadow: 3px 3px 17px #7b7b7b;
}
.explore__btn:hover {
  opacity: 0.7;
}

.plan {
  background-color: #e6e6e6;
  width: 100%;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  color: #404040;
  box-shadow: inset 0px 5px 5px 0px #dddddd;
}
.plan i {
  margin-right: 15px;
}

@media screen and (min-width: 768px) {
  .running {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
}
.running h1 {
  margin-left: 25px;
}
@media screen and (min-width: 768px) {
  .running h1 {
    width: 100%;
    text-align: center;
  }
}
.running .btn {
  display: flex;
  flex-direction: columns;
  align-content: center;
  width: 270px;
  border: 1px solid #eeeeee;
  border-radius: 20px;
  padding: 20px;
  background-color: #fafafa;
  color: white;
  position: relative;
  margin: 0px 0px 20px 30px;
  box-shadow: 10px 5px 15px #eeeeee;
}
@media screen and (min-width: 768px) {
  .running .btn {
    width: 25%;
    margin: auto;
  }
}
.running .btn__figure {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 0.8rem;
  padding: 5px 5px 5px 6.5px;
  border-radius: 50%;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  bottom: 33%;
  width: 10px;
  height: 10px;
}
.running .btn__icon {
  margin: 0px 20px 0px 20px;
  width: 15px;
  height: 20px;
  color: #676767;
}
.running .btn__icon--lighten {
  margin: 0px 20px 0px 20px;
  width: 15px;
  height: 20px;
  color: #9356DC;
}
.running .btn__text {
  color: black;
  font-weight: 400;
}

.restaurant {
  display: flex;
  background-color: #f3f3f3;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .restaurant {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.restaurant h1 {
  padding: 20px 0px 0px 25px;
}
@media screen and (min-width: 768px) {
  .restaurant h1 {
    width: 100%;
    text-align: center;
  }
}
.restaurant .picture {
  position: relative;
  width: 320px;
  margin: 5px 0px 30px 25px;
  height: 230px;
  box-shadow: 10px 10px 15px #F2F2F2;
  color: black;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .restaurant .picture {
    width: 40%;
    height: 500px;
    margin: 0px 5% 40px 5%;
  }
}
.restaurant .picture__chiche {
  position: absolute;
  width: 100%;
  height: 70%;
  border-radius: 15px 15px 0px 0px;
}
.restaurant .picture__new {
  padding: 5px;
  color: #99E2D0;
  background-color: #c1ede2;
  width: 60px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .restaurant .picture__new {
    top: 5%;
    right: 5%;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 10%;
  }
}
.restaurant .picture__description {
  position: absolute;
  bottom: 0px;
  height: 30%;
  width: 100%;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  margin: 0px;
}
.restaurant .picture__description h2 {
  margin: 10px 0px 0px 10px;
  font-size: 1.2rem;
  font-weight: 500;
}
.restaurant .picture__description p {
  margin: 0px 0px 0px 10px;
  font-weight: 100;
  font-size: 1.2rem;
}
.restaurant .picture__description__coeur {
  position: absolute;
  right: 30px;
  top: 20px;
  font-size: 1.7rem;
  color: #6b6b6b;
}
.restaurant .picture__description__coeur::before {
  font-weight: bold;
  transition: color 1s ease-out;
}
.restaurant .picture__description__coeur:hover::before {
  color: linear-gradient(#FF79DA, #9356DC);
  cursor: pointer;
}

.main {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 1480px;
}
.main .picture {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 20%;
}
.main .picture img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .main .picture {
    width: 100%;
    height: 20%;
    margin-left: 0px;
  }
}
.main .menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 83%;
  background-color: #f3f3f3;
  border-radius: 40px 40px 0px 0px;
  position: absolute;
  bottom: 0px;
}
@media screen and (min-width: 768px) {
  .main .menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.main .menu h1 {
  margin: 30px 0px 0px 20px;
  width: 80%;
  font-family: "Shrikhand", sans-serif;
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  .main .menu h1 {
    width: 100%;
    text-align: center;
    margin: 30px 0px 0px 0px;
  }
}
.main .menu h1 i {
  position: absolute;
  right: 30px;
  top: 34px;
}
@media screen and (min-width: 768px) {
  .main .menu h1 i {
    right: 530px;
    top: 32px;
  }
}
.main .menu .starter {
  margin: 10px 0px 0px 40px;
}
@media screen and (min-width: 768px) {
  .main .menu .starter {
    width: 30%;
    height: 60%;
    margin: 1.5%;
  }
}
.main .menu .starter h2 {
  margin-left: -20px;
  font-weight: 300;
  font-size: 1.2rem;
}
.main .menu .starter__object {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin: 0px 0px 20px -25px;
  padding: 0px 20px 0px 5px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 10px 5px 15px #d9d9d9;
}
.main .menu .starter__object .h3 {
  margin: 10px 0px 10px 5px;
  font-weight: 500;
}
.main .menu .starter__object .p {
  margin: 10px 0px 10px 5px;
  font-weight: 300;
  font-size: 0.85rem;
  margin: 0px 0px 10px 5px;
}
.main .menu .starter__object .p strong {
  position: absolute;
  right: 25px;
}
.main .menu .mainmeal {
  margin: 10px 0px 0px 40px;
}
@media screen and (min-width: 768px) {
  .main .menu .mainmeal {
    width: 30%;
    height: 60%;
    margin: 1.5%;
  }
}
.main .menu .mainmeal h2 {
  margin-left: -20px;
  font-weight: 300;
  font-size: 1.2rem;
}
.main .menu .mainmeal__object {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin: 0px 0px 20px -25px;
  padding: 0px 20px 0px 5px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 10px 5px 15px #d9d9d9;
}
.main .menu .mainmeal__object .h3 {
  margin: 10px 0px 10px 5px;
  font-weight: 500;
}
.main .menu .mainmeal__object .p {
  margin: 10px 0px 10px 5px;
  font-weight: 300;
  font-size: 0.85rem;
  margin: 0px 0px 10px 5px;
}
.main .menu .mainmeal__object .p strong {
  position: absolute;
  right: 25px;
}
.main .menu .dessert {
  margin: 10px 0px 0px 40px;
}
@media screen and (min-width: 768px) {
  .main .menu .dessert {
    width: 30%;
    height: 60%;
    margin: 1.5%;
  }
}
.main .menu .dessert h2 {
  margin-left: -20px;
  font-weight: 300;
  font-size: 1.2rem;
}
.main .menu .dessert__object {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  margin: 0px 0px 20px -25px;
  padding: 0px 20px 0px 5px;
  width: 320px;
  border-radius: 20px;
  box-shadow: 10px 5px 15px #d9d9d9;
}
.main .menu .dessert__object .h3 {
  margin: 10px 0px 10px 5px;
  font-weight: 500;
}
.main .menu .dessert__object .p {
  margin: 10px 0px 10px 5px;
  font-weight: 300;
  font-size: 0.85rem;
  margin: 0px 0px 10px 5px;
}
.main .menu .dessert__object .p strong {
  position: absolute;
  right: 25px;
}
.main .menu .order {
  display: flex;
  align-items: center;
  align-content: justify;
  justify-content: center;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  width: 200px;
  height: 50px;
  margin: 40px 0px 30px 90px;
}
@media screen and (min-width: 768px) {
  .main .menu .order {
    width: 100%;
    text-align: center;
    width: 60%;
    margin: 2% 20% 4% 20%;
    padding: 2% 0% 2% 27%;
  }
}

body {
  margin: auto;
  max-width: 1500px;
  margin: auto;
  max-width: 1500px;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

/*# sourceMappingURL=style.css.map */
