body {
    margin: auto;
    max-width: 1500px;
    margin: auto;
    max-width: 1500px;
    font-family: "Roboto", sans-serif;
    width: 100%;
}

h1,
h2 {
    font-family: "Shrikhand", sans-serif;
}