.main {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 1480px;
    .picture {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 20%;
        img{
            width: 100%;
            height: 100%;
        }
        @include tablet-only {
            width: 100%;
            height: 20%;
            margin-left: 0px;
        }
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 83%;
        background-color: lighten(grey, 45);
        border-radius: 40px 40px 0px 0px;
        position: absolute;
        bottom: 0px;
        @include tablet-only {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        h1 {
            margin: 30px 0px 0px 20px;
            width: 80%;
            font-family: "Shrikhand", sans-serif;
            font-size: 1.5rem;
            @include tablet-only {
                width: 100%;
                text-align: center;
                margin: 30px 0px 0px 00px;
            }
            i {
                position: absolute;
                right: 30px;
                top: 34px;
                @include tablet-only {
                    right: 30%;
                    top: 32px;
                }
            }
        }
        .starter {
            margin: 10px 0px 0px 40px;
            h2 {
                margin-left: -20px;
                font-weight: 300;
                font-size: 1.2rem;
            }
            &__object {
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: white;
                margin: 0px 0px 20px -25px;
                padding: 0px 20px 0px 5px;
                width: 320px;
                border-radius: 20px;
                box-shadow: 10px 5px 15px lighten(grey, 35);
                .h3 {
                    margin: 10px 0px 10px 5px;
                    font-weight: 500;
                }
                .p {
                    margin: 10px 0px 10px 5px;
                    font-weight: 300;
                    font-size: 0.85rem;
                    margin: 0px 0px 10px 5px;
                    strong {
                        position: absolute;
                        right: 25px;
                    }
                }
            }
        }
        .mainmeal {
            margin: 10px 0px 0px 40px;
            h2 {
                margin-left: -20px;
                font-weight: 300;
                font-size: 1.2rem;
            }
            &__object {
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: white;
                margin: 0px 0px 20px -25px;
                padding: 0px 20px 0px 5px;
                width: 320px;
                border-radius: 20px;
                box-shadow: 10px 5px 15px lighten(grey, 35);
                .h3 {
                    margin: 10px 0px 10px 5px;
                    font-weight: 500;
                }
                .p {
                    margin: 10px 0px 10px 5px;
                    font-weight: 300;
                    font-size: 0.85rem;
                    margin: 0px 0px 10px 5px;
                    strong {
                        position: absolute;
                        right: 25px;
                    }
                }
            }
        }
        .dessert {
            margin: 10px 0px 0px 40px;
            h2 {
                margin-left: -20px;
                font-weight: 300;
                font-size: 1.2rem;
            }
            &__object {
                display: flex;
                flex-direction: column;
                position: relative;
                background-color: white;
                margin: 0px 0px 20px -25px;
                padding: 0px 20px 0px 5px;
                width: 320px;
                border-radius: 20px;
                box-shadow: 10px 5px 15px lighten(grey, 35);
                .h3 {
                    margin: 10px 0px 10px 5px;
                    font-weight: 500;
                }
                .p {
                    margin: 10px 0px 10px 5px;
                    font-weight: 300;
                    font-size: 0.85rem;
                    margin: 0px 0px 10px 5px;
                    strong {
                        position: absolute;
                        right: 25px;
                    }
                }
            }
        }
        .order {
            display: flex;
            align-items: center;
            align-content: justify;
            justify-content: center;
            color: white;
            background: linear-gradient(#FF79DA, #9356DC);
            border-radius: 20px;
            width: 200px;
            height: 50px;
            margin: 40px 0px 30px 90px;
            @include tablet-only {
                width: 100%;
                width: 60%;
                margin: 2% 20% 4% 20%;
            }
        }
    }
}