.one {
    animation: fadein linear 1s forwards;
}

.two {
    animation: fadein linear 1.2s forwards;
}

.three {
    animation: fadein linear 1.4s forwards;
}

.four {
    animation: fadein linear 1.6s forwards;
}