@-webkit-keyframes spin{
    0%{-webkit-transform: rotate(Odeg); transform: rotate(Odeg);}
    100%{-webkit-transform: rotate(36Odeg); transform: rotate(36Odeg);}
}

@-webkit-keyframes spinreverse{
    0%{-webkit-transform: rotate(36Odeg); transform: rotate(36Odeg);}
    100%{-webkit-transform: rotate(Odeg); transform: rotate(Odeg);}
}